body {
    font-family: 'Roboto Mono', monospace;
    color: #58a6ff;
    margin: 40px;
    background-color: rgba(29, 31, 36, 0.99);
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: #aeff2c;
 }
